* {
  box-sizing: border-box;
}

@font-face {
  font-family: Quicksand-Regular;
  src: url("./fonts/Quicksand-Regular.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 2rem;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("./img/white-clouds-blue-background.jpg");
  font-family: Quicksand-Regular;
}

h1 {
  font-size: 2.5rem;
}

.firstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchForm {
  display: flex;
  align-items: center;
  max-height: min-content;
  font-size: 1.4rem;
  line-height: 1.4rem;
}

#searchForm label {
  margin-right: 10px;
}
